.nav__container{
    background-color:#FFFFFF;
    height: 60px;
    width: 100vw;
    display: flex;
    padding: 6px 60px;
    justify-content: flex-start;
}

.nav__logo{
    cursor: pointer;
    height: 59px;
    width: 150px;
}